.content-container{
  height: 500px;
  /* width: 1100px; */
  overflow-y: auto;
}
.barContainer{
  height: 300px;
  overflow-y: auto;
}
#content2{
  /* visibility: hidden;
   */
}

#scaffold-barchart{
  /* width: 1000px;
  height: 200px;
  overflow-y: auto; */
}

.tooltip{
  pointer-events: none;
}
.sequence{
  /* display: flex;
  flex-direction: row;  
  justify-content: space-between;
  gap: 30px; */
}
#content2::-webkit-scrollbar {
  width: 0px;
}

#content2::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

#content2::-webkit-scrollbar-thumb {
  background: #fff; /* color of the scroll thumb */
}

#content2::-webkit-scrollbar-thumb:hover {
  background: #fff; /* color of the scroll thumb on hover */
}

.axis {
  opacity: 0.4;
}
.axis:hover {
  opacity: 1;
}

.filterBtn{
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: #53B3BD;
  font-size: 12px;
}

.filterBtn:hover{
  background-color: #3A8D94;
}